.weather-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  height: 100vh;
  background-color: rgb(226, 226, 226);

  &__wrapper {
    width: 450px;

    > :not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}
